<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Employer | Nuevo Departamento</title>
<link rel="stylesheet" href="header.css">
<link rel="stylesheet" th:href="@{/css/department-form.css}">
</head>
<body>

	<!-- Header -->
	
	<header th:replace="header :: main-header"></header>

	<!-- Contenido principal -->
	<main class="form-page">
		<div class="form-container">
			<h2>Registrar nuevo departamento</h2>
			<p>Completa los campos para crear un nuevo departamento en la
				empresa.</p>

			<form th:action="@{/departments/add}" th:object="${department}" method="POST" class="department-form">
			<input type="hidden" th:field="*{id}" />
				
				<div class="form-group">
					<label for="name">Nombre del departamento</label> <input
						type="text" th:field="*{name}" id="name" name="name"
						placeholder="Ej: Recursos Humanos" required>
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
				</div>

				<div class="form-group">
					<label for="description">Descripción</label>
					<textarea id="description" th:field="*{description}" name="description" rows="4"
						placeholder="Ej: Se encarga de la gestión del personal, selección y formación."
						required></textarea>
						<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
				</div>

				<div class="form-group">
					<label for="boss">Jefe de departamento</label> <input type="text" th:field="*{boss}"
						id="boss" name="boss" placeholder="Ej: Laura Gómez" required>
						<p th:if="${#fields.hasErrors('boss')}" th:errors="*{boss}"></p>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn-submit">Guardar
						departamento</button>
					<a th:href="@{/departments}" class="btn-cancel">Cancelar</a>
				</div>
			</form>
		</div>
	</main>
	
	<!-- Footer -->

	<footer th:replace="footer :: footer"></footer>

</body>
</html>
