<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Employer | Empleados</title>
<link rel="stylesheet" href="header.css">
<link rel="stylesheet" href="css/employees.css">
</head>
<body>

	<!-- Header -->
	
	<header th:replace="header :: main-header"></header>

	<!-- Main Content -->
	<main class="employees-page">
		<div class="top-bar">
			<h2>Empleados</h2>
			<a th:href="@{/employees/new}" class="add-btn">+ Añadir empleado</a>
		</div>

		<section class="employee-grid">
			<!-- Employee Card -->
			<div th:each="employee : ${list}" class="employee-card">
				<img src="/images/user.jpg" alt="Foto empleado">
				<h3 th:text="${employee.fullName}"></h3>
				<p th:text="${employee.department}" class="position"></p>
				<p th:text="${employee.email}" class="email"></p>
				<a th:href="@{employees/delete/{id}(id=${employee.id})}" class="view-btn">Eliminar</a>
			</div>

		</section>

		<!-- Empty List message -->
	
    <section th:if="${#lists.isEmpty(list)}" class="no-employees">
      <p>No hay empleados registrados todavía.</p>
    </section>
  
	</main>

	<footer th:replace="footer :: footer"></footer>

	
</body>
</html>
